.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between, .blog-section_titles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.transition {
  transition: .3s all ease-out;
}

.blog-section {
  background-color: #fff;
  padding: 110px 0;
}

.blog-section_titles {
  align-items: center;
  margin-bottom: 55px;
}

.blog-section_titles .section-title {
  margin-bottom: 0;
}

.blog-section_titles .link-more {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 18px;
  position: relative;
  padding-right: 18px;
  opacity: 0.7;
}

.blog-section_titles .link-more:after {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  background: transparent url("../img/Big-Arrow-Right.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 2px;
  right: 0;
}

.journal-item {
  margin-bottom: 80px;
}

.blog-thumb {
  display: block;
  width: 100%;
  height: 290px;
  margin-bottom: 24px;
  border-radius: 2px;
  overflow: hidden;
}

.blog-description .date {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.7;
  margin-bottom: 8px;
}

.blog-description h4 {
  margin-bottom: 15px;
  line-height: 26px;
}

.blog-description h4 a {
  font-size: 22px;
  line-height: 26px;
  color: #000;
}

#blog-owl {
  display: none;
}

@media screen and (max-width: 1200px) {
  .blog-thumb {
    height: 220px;
  }
}

@media screen and (max-width: 990px) {
  .blog-section {
    padding: 60px 0;
  }
  .home-blog .col-sm-6:last-child {
    display: none;
  }
  .blog-section_titles {
    margin-bottom: 40px;
  }
  .journal-item {
    margin-bottom: 55px;
  }
  .journal-item:last-child {
    margin-bottom: 0;
  }
  .journal-item:nth-last-child(2), .journal-item:nth-last-child(3) {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 500px) {
  .blog-section {
    padding: 55px 0;
  }
  .blog-section_titles {
    margin-bottom: 30px;
  }
  .blog-section_titles .link-more {
    display: none;
  }
  .blog-row_home {
    display: none;
  }
  #blog-owl {
    display: block;
  }
  #blog-owl .owl-nav {
    display: none;
  }
  #blog-owl .owl-stage {
    padding-left: 20px !important;
  }
  .blog-thumb {
    height: 230px;
    margin-bottom: 15px;
  }
  .blog-description h4 {
    margin-bottom: 8px;
  }
  .blog-description h4 a {
    font-size: 18px;
    line-height: 22px;
  }
  .journal-item {
    margin-bottom: 40px;
  }
  .journal-item:last-child {
    margin-bottom: 0;
  }
  .journal-item:nth-last-child(2), .journal-item:nth-last-child(3) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 350px) {
  .blog-thumb {
    height: 180px;
  }
}

/*# sourceMappingURL=../../maps/import/component-styles/blog-section.css.map */
