.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex-center, .cart-item .cart-item_thumbnail {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between, .cart-items_row, .cart-inner, .cart-summary .cart-total, .cart-item, .cart-right_bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.transition, .grey-button, .cart-item .delete-cart_item, .cart-right_bottom .to-shop {
  transition: .3s all ease-out;
}

.cart-content {
  padding: 25px 0 120px;
  background-color: #fff;
}

.cart-titles {
  padding: 40px 0;
}

.cart-titles p {
  display: block;
  margin-top: 12px;
}

.cart-items_found {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  margin-bottom: 40px;
}

.cart-items {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1.25px solid #e9e9e9;
}

.cart-undertitle {
  font-size: 14px;
  line-height: 20px;
  color: #768D99;
}

.cart-undertitle a {
  color: #000;
  font-weight: 600;
}

.cart-inner {
  align-items: flex-start;
}

.cart-summary {
  padding: 24px;
  background: #F4F4F4;
  border-radius: 2px;
  margin-bottom: 24px;
}

.cart-summary .list-title {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E9E9E9;
}

.cart-summary .summary-options {
  margin-bottom: 24px;
}

.cart-summary .cart-total {
  align-items: center;
  margin-bottom: 8px;
}

.cart-summary .cart-total:last-child {
  margin-bottom: 0;
}

.cart-summary .cart-total p {
  font-weight: 500;
  color: #000;
}

.cart-summary .cart-total .cart-summ {
  font-weight: 500;
  opacity: 0.7;
}

.cart-summary .cart-summary_description {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #E9E9E9;
}

.cart-summary .cart-summary_description p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.cart-summary .yellow-button {
  margin-bottom: 12px;
}

.cart-summary_checkout {
  padding: 0;
}

.cart-summary_bottom {
  background-color: rgba(244, 246, 247, 0.5);
  border-top: 1px solid #E2E7EA;
}

.cart-summary_inner, .cart-summary_bottom {
  padding: 24.5px;
}

.grey-button {
  display: block;
  background-color: #F4F6F7;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: 600;
  line-height: 22px;
}

.grey-button:hover {
  background: #d6dee2;
  color: #000;
}

.cart-item {
  position: relative;
  border-radius: 2px;
  margin-bottom: 16px;
}

.cart-item:last-child {
  margin-bottom: 0;
}

.cart-item .delete-cart_item {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 0;
  background: transparent url("../img/Bin.svg") center no-repeat;
  background-size: 24px;
  border-radius: 4px;
}

.cart-item .cart-item_thumbnail {
  width: 235px;
  height: 235px;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
}

.cart-item .cart-item_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item .price-wrap {
  width: 90%;
}

.cart-item .cart-item_description {
  width: calc(100% - 260px);
  padding-top: 15px;
}

.cart-item .cart-item_description h4 {
  line-height: 26px;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 4px;
}

.cart-item .cart-item_description h4 a {
  color: #000;
}

.cart-item .cart-item_description .displacement {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
  opacity: 1;
}

.cart-item .cart-item_description .product-company, .cart-item .cart-item_description .product-date {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.cart-item .quantity-choser {
  margin-bottom: 0;
}

.cart-item.cart-item_checkout {
  padding: 0;
  border: 0;
}

.cart-item.cart-item_checkout .cart-item_thumbnail {
  width: 80px;
  height: 80px;
  border: 1px solid #E2E7EA;
  border-radius: 4px;
}

.cart-item.cart-item_checkout .cart-item_description {
  width: calc(100% -90px);
}

.cart-item.cart-item_checkout .cart-item_description h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.cart-item.cart-item_checkout .cart-item_description h4 a {
  line-height: 20px;
}

.cart-item.cart-item_checkout .quantity-choser {
  width: 90px;
  padding: 2.5px;
}

.cart-item.cart-item_checkout .quantity-less, .cart-item.cart-item_checkout .quantity-more, .cart-item.cart-item_checkout .qty-number {
  width: 26px;
  height: 26px;
  font-size: 14px;
  line-height: 20px;
}

.cart-item.cart-item_checkout .quantity-less {
  background-size: 18px;
}

.cart-item.cart-item_checkout .quantity-more {
  background-size: 18px;
}

.cart-item.cart-item_checkout .price-wrap {
  width: 75%;
}

.cart-item.cart-item_checkout .price-wrap p {
  font-size: 16px;
  line-height: 20px;
}

.cart-item.cart-item_checkout .price-wrap span {
  font-size: 14px;
  line-height: 20px;
}

.price-wrap p {
  display: block;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-right: 5px;
}

.price-wrap span {
  font-size: 16px;
  font-weight: 600;
  color: #768D99;
}

.cart-right_bottom {
  padding: 37px 55px;
  border-radius: 4px;
  background-color: #f4f4f4;
  align-items: center;
}

.cart-right_bottom h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 26px;
  opacity: 1;
}

.cart-right_bottom .to-shop {
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url("../img/Arrow-Right.svg") center no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  .cart-item .price-wrap {
    width: 85%;
  }
}

@media screen and (max-width: 990px) {
  .cart-right_bottom {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 500px) {
  .cart-titles {
    padding: 30px 0;
    text-align: center;
  }
  .cart-titles p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
  }
  .cart-content {
    padding: 20px 0 55px;
  }
  .cart-items_found {
    margin-bottom: 30px;
  }
  .cart-summary {
    padding: 20px;
  }
  .cart-summary_checkout {
    padding: 0;
  }
  .cart-items {
    padding-bottom: 0;
    margin-bottom: 55px;
    border-bottom: 0;
  }
  .cart-item {
    margin-bottom: 30px;
  }
  .cart-item .delete-cart_item {
    width: 22px;
    height: 22px;
    top: 0;
  }
  .cart-item .cart-item_thumbnail {
    width: 80px;
    height: 80px;
  }
  .cart-item .cart-item_description {
    width: calc(100% - 95px);
    padding-top: 0;
  }
  .cart-item .cart-item_description h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .cart-item .cart-item_description .product-company, .cart-item .cart-item_description .product-date {
    margin-bottom: 10px;
  }
  .cart-item .price-wrap .left {
    flex-direction: row;
  }
  .cart-right_bottom {
    display: none;
  }
  .cart-summary .list-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .cart-summary .cart-total p {
    font-size: 14px;
    line-height: 18px;
  }
  .cart-summary .summary-options {
    margin-bottom: 16px;
  }
  .cart-summary .cart-summary_description {
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .cart-item .price-wrap .left {
    flex-direction: column;
  }
  .cart-item .qty-wrap {
    flex-direction: column;
  }
  .cart-item .qty-wrap .quantity-choser {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=../../maps/import/component-styles/cart.css.map */
