.flex, .single-explore_item, .author-social_wrap .author_wrap, .author-social_wrap .share-post {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between, .explore-navigation_holder, .explore-navigation_holder .explore-navigation_columns, .single-country_holder, .author-social_wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.transition, .explore-navigation_holder .explore-navigation ul li a, .country-side_navigation a:after {
  transition: .3s all ease-out;
}

.single-country .wrapper, .single-event .wrapper {
  overflow: visible;
}

.single-explore_section {
  margin-bottom: 110px;
}

.single-explore_section--countries .single-explore_wrap {
  padding: 80px;
}

.single-explore_section--countries .single-explore_titles {
  margin-bottom: 55px;
  padding-bottom: 0;
  border-bottom: 0;
}

.single-explore_wrap {
  background-color: #fff;
  border-radius: 2px;
  padding: 80px 80px 110px 80px;
}

.single-explore_wrap .explore-country_image {
  width: 100%;
  height: 240px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 55px;
}

.single-explore_titles {
  padding-bottom: 55px;
  margin-bottom: 55px;
  border-bottom: 1px solid #e9e9e9;
}

.single-explore_titles h1 {
  margin-bottom: 24px;
}

.single-explore_titles p {
  display: block;
  margin-bottom: 24px;
  width: 60%;
}

.single-explore_titles p:last-child {
  margin-bottom: 0;
}

.event-post_date {
  display: block;
  margin-top: 4px;
}

.single-explore_item {
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 30px;
}

.single-explore_item:last-child {
  margin-bottom: 0;
}

.single-explore_item .explore-item_thumb {
  width: 26.6%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.single-explore_item .explore-item_description {
  padding: 40px 40px 40px 320px;
}

.single-explore_item .explore-item_description h4 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
}

.single-explore_item .explore-item_description p {
  display: block;
  margin-bottom: 24px;
}

.single-explore_item .explore-item_description p:last-child {
  margin-bottom: 0;
}

.single-explore_item .explore-item_description p a {
  color: #FF7758;
}

.explore-navigation_holder .explore-navigation_columns .column {
  width: 20%;
}

.explore-navigation_holder .explore-navigation {
  padding-top: 24px;
  border-top: 1px solid #e9e9e9;
}

.explore-navigation_holder .explore-navigation h6 {
  margin-bottom: 24px;
}

.explore-navigation_holder .explore-navigation ul li {
  display: block;
  margin-bottom: 10px;
}

.explore-navigation_holder .explore-navigation ul li:last-child {
  margin-bottom: 0;
}

.explore-navigation_holder .explore-navigation ul li a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  opacity: 0.7;
}

.explore-navigation_holder .explore-navigation ul li a:hover {
  opacity: 1;
}

.explore-navigation_holder .explore-navigation_1 {
  width: 20%;
}

.explore-navigation_holder .explore-navigation_2 {
  width: 75%;
}

.single-country_holder .single-explore_titles {
  margin-bottom: 40px;
}

.single-country_holder .single-explore_titles h1 {
  margin-bottom: 0;
}

.single-country_holder .country-content_wrap {
  width: 66%;
}

.single-country_holder .country-content_navigation {
  width: 26%;
}

.contact-form .wpcf7-form-control-wrap {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.country-content_wrap .wp-block-image {
  margin-bottom: 40px;
}

.country-content_wrap figcaption {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
}

.country-content_wrap h6, .country-content_wrap h3 {
  margin-bottom: 24px;
}

.country-content_wrap p {
  display: block;
  margin-bottom: 24px;
}

.country-content_wrap p:last-child {
  margin-bottom: 0;
}

.country-content_wrap ul {
  margin-bottom: 24px;
}

.country-content_wrap ul li {
  display: block;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  opacity: 0.7;
  line-height: 24px;
}

.country-content_wrap ul li:last-child {
  margin-bottom: 0;
}

.country-content_wrap ul li:before {
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #000;
  position: absolute;
  left: 0;
  top: 7px;
}

.country-content_wrap ul li ul li {
  opacity: 1;
}

.country-content_navigation h4 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e9e9e9;
}

.country-content_navigation .country-nav_wrap {
  position: sticky;
  top: 10px;
}

.country-side_navigation a {
  display: block;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  padding: 16px 24px 14px 24px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  margin-bottom: 12px;
}

.country-side_navigation a:last-child {
  margin-bottom: 0;
}

.country-side_navigation a:after {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: transparent url("../img/Arrow-Right.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 1px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 12px;
}

.country-side_navigation a:hover:after {
  right: 7px;
}

.event-content {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
}

.author-social_wrap {
  align-items: center;
}

.author-social_wrap .author_wrap, .author-social_wrap .share-post {
  align-items: center;
}

.author-social_wrap .author-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.author-social_wrap .author-descr h4 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
}

.author-social_wrap .author-descr p {
  font-size: 14px;
  line-height: 18px;
}

.author-social_wrap .share-title {
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-right: 24px;
}

.author-social_wrap .heateorSssSharingRound {
  display: block !important;
  width: 24px !important;
  height: 24px !important;
  margin-right: 24px !important;
}

.author-social_wrap .heateorSssSharingRound i {
  display: block;
  width: 100%;
  height: 100%;
}

.author-social_wrap .heateorSssSharingRound .heateorSssFacebookBackground {
  background: transparent url("../img/Facebook.svg") center no-repeat;
  background-size: contain;
}

.author-social_wrap .copy-link {
  display: block;
  width: 24px;
  height: 24px;
  background: transparent url("../img/Copy-Link.svg") center no-repeat;
  background-size: contain;
}

.recent-post_side {
  padding-bottom: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.recent-post_side:last-child {
  margin-bottom: 0;
}

.recent-post_side:first-child .recent-thumb {
  display: block;
  height: 165px;
  margin-bottom: 24px;
}

.recent-post_side:first-child .recent-date {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
}

.recent-post_side .recent-thumb, .recent-post_side .recent-date {
  display: none;
}

.recent-post_side .recent-description h6 a {
  color: #000;
}

@media screen and (max-width: 1200px) {
  .single-explore_item .explore-item_thumb {
    width: 36.6%;
  }
  .single-explore_section--countries .single-explore_wrap {
    padding: 80px 60px;
  }
}

@media screen and (max-width: 990px) {
  .single-explore_wrap {
    padding: 40px;
  }
  .single-explore_titles p {
    width: 100%;
  }
  .single-explore_item {
    flex-direction: column;
  }
  .single-explore_item .explore-item_thumb {
    width: 100%;
    position: static;
    height: 320px;
  }
  .single-explore_item .explore-item_description {
    width: 100%;
    padding: 40px;
  }
  .single-explore_section--countries .single-explore_wrap {
    padding: 40px;
  }
  .explore-navigation_holder .explore-navigation ul li a {
    word-break: break-all;
  }
  .single-country_holder {
    flex-direction: column;
  }
  .single-country_holder .country-content_wrap {
    margin-bottom: 55px;
  }
  .single-country_holder .country-content_wrap, .single-country_holder .country-content_navigation {
    width: 100%;
  }
  .country-content_navigation .country-nav_wrap {
    position: static;
    top: 0;
  }
}

@media screen and (max-width: 500px) {
  .single-explore_section {
    margin-bottom: 55px;
  }
  .single-explore_wrap {
    padding: 30px 20px;
  }
  .single-explore_section--countries .single-explore_wrap {
    padding: 30px 20px;
  }
  .single-explore_section--countries .explore-country_image {
    margin-bottom: 24px;
  }
  .single-explore_section--countries .single-explore_titles {
    margin-bottom: 24px;
  }
  .explore-navigation_holder {
    flex-wrap: wrap;
  }
  .explore-navigation_holder .explore-navigation_columns {
    flex-wrap: wrap;
  }
  .explore-navigation_holder .explore-navigation_columns .column {
    width: 48%;
    margin-bottom: 24px;
  }
  .explore-navigation_holder .explore-navigation_columns .column:last-child, .explore-navigation_holder .explore-navigation_columns .column:nth-last-child(2) {
    margin-bottom: 0;
  }
  .explore-navigation_holder .explore-navigation {
    width: 100%;
  }
  .explore-navigation_holder .explore-navigation_2 {
    margin-top: 24px;
  }
  .single-explore_titles {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .single-explore_titles h1 {
    margin-bottom: 12px;
  }
  .single-explore_item .explore-item_thumb {
    height: 280px;
  }
  .single-explore_item .explore-item_description {
    padding: 20px;
  }
  .single-explore_item .explore-item_description h4 {
    margin-bottom: 12px;
  }
  .single-explore_item .explore-item_description p {
    margin-bottom: 12px;
  }
  .country-content_wrap .wp-block-image {
    margin-bottom: 24px;
  }
  .country-content_wrap h6, .country-content_wrap h3 {
    margin-bottom: 16px;
  }
  .country-content_wrap p {
    margin-bottom: 16px;
  }
  .author-social_wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .author-social_wrap .author_wrap {
    margin-bottom: 40px;
  }
  .author-social_wrap .author-image {
    width: 65px;
    height: 65px;
  }
  .author-social_wrap .author-descr {
    width: calc(100% - 80px);
  }
  .contact-form .wpcf7-form-control-wrap {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=../../maps/import/component-styles/single-explore.css.map */
