@import "../variables";

.arrival-section {
	padding-bottom: 110px;
	.section-title {
		margin-bottom: 15px;
	}
	.arrivals-titles {
		transform: translateY(110px);
	}
}

.arrivals-owl {
	padding-left: 152px;
	padding-top: 150px;
	.owl-stage {
		padding-left: 0 !important;
		@extend .flex;
	}
	.owl-dots {
		display: none;
	}
	.owl-nav {
		width: 88px;
		@extend .flex-between;
		position: absolute;
		top: 50px;
		right: 102px;
		button {
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 2px;
			background: #000 url('../img/arrow-down-white.svg') center no-repeat !important;
			background-size: 25px !important;
			span {
				display: none;
			}
		}
		.owl-next {
			transform: rotate(-90deg);
		}
		.owl-prev {
			transform: rotate(90deg);
		}
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
	}
}

.add-to-wishlist {
	display: block;
	width: 32px;
	height: 32px;
	background: transparent url('../img/Heart.svg') center no-repeat;
	background-size: contain;
	z-index: 5;
	&:hover {
		background: transparent url('../img/Heart-Filled.svg') center no-repeat;
		background-size: contain;
	}
	&.added-to-wishlist, &.added {
		background: transparent url('../img/heart-coral-full.svg') center no-repeat;
		background-size: contain;
	}
}

.arrivals-owl {
	.product-item {
		width: 100%;
	}
}

.product-item {
	@extend .flex-between;
	flex-direction: column;
	position: relative;
	.add-to-wishlist {
		display: block;
		width: 32px;
		height: 32px;
		background: transparent url('../img/Heart.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 5;
		&:hover {
			background: transparent url('../img/Heart-Filled.svg') center no-repeat;
			background-size: contain;
		}
		&.added-to-wishlist, &.added {
			background: transparent url('../img/heart-coral-full.svg') center no-repeat;
			background-size: contain;
		}
	}
	.product-item_label {
		display: block;
		padding: 8px 12px 6px;
		border-radius: 2px;
		overflow: hidden;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		color: #fff;
		position: absolute;
		top: 16px;
		left: 16px;
		z-index: 5;
		&.out-ofstock_label {
			background: #C3C3C3;
		}
		&.new-label {
			background: $coral;
		}
	}
	.attribute-icons {
		@extend .flex;
		position: absolute;
  		bottom: 16px;
  		left: 16px;
	}
	.attribute-icon {
		display: block;
		width: 32px;
		height: 32px;
		border: 1px solid #E9E9E9;
  		border-radius: 2px;
  		margin-right: 6px;
  		&:last-child {
  			margin-right: 0;
  		}
	}
	.slider-thumb {
		display: block;
		width: 100%;
		height: 365px;
		background-color: #fff;
		border-radius: 2px;
		overflow: hidden;
		margin-bottom: 15px;
		padding: 16px;
		position: relative;
		text-align: center;
		img {
			max-height: 100%;
			min-width: 100%;
		}
	}
	.description {
		@extend .flex-between;
		flex-direction: column;
		height: calc(100% - 380px);
	}
	h6 {
		margin-bottom: 4px;
		a {
			color: #000;
		}
	}
	.displacement {
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		margin-bottom: 4px;
	}
	.product-company, .product-date {
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		opacity: 0.7;
		margin-bottom: 15px;
	}
}

.price-wrap {
	@extend .flex-between;
	align-items: flex-start;
	margin-bottom: 15px;
	.left {
		@extend .flex;
		align-items: center;
	}
	.current-price {
		font-size: 22px;
		font-weight: 500;
		line-height: 26px;
		margin-right: 4px;
	}
	.sale-price {
		font-size: 14px;
		font-weight: 500;
		color: #000;
		line-height: 18px;
		text-decoration: line-through;
		opacity: 0.7;
	}
	.points-value {
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		padding: 5px;
		background: #F1F1F3;
		color: $coral;
	}
}

.qty-wrap {
	@extend .flex;
}

.quantity-choser {
	width: 72px;
	height: 40px;
	position: relative;
	border: 1px solid #E9E9E9;
	border-radius: 2px;
	overflow: hidden;
	padding: 8px;
	margin-right: 8px;
	&.active {
		overflow: visible;
		.mobile-quantity_input {
			display: block;
		}
	}
	input {
		background: transparent;
		border: 0;
		display: block;
	    box-sizing: border-box;
	    width: 100%;
        text-indent: 15px;
		&::-moz-placeholder {
		    font-size: 14px;
		    font-weight: 500;
		    color: #000;
		  }
		  &:-ms-input-placeholder {
		    font-size: 14px;
		    font-weight: 500;
		    color: #000;
		  }
		  &:-moz-placeholder { 
		    font-size: 14px;
		    font-weight: 500;
		    color: #000;
		  }
		  &:focus {
		    outline: none;
	    }
	}
	.quantity-more {
		width: 12px;
		height: 12px;
		background: transparent url('../img/Big-Arrow-Left.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 8px;
		right: 12px;
		transform: rotate(90deg);
		cursor: pointer;
	}
	.quantity-less {
		width: 12px;
		height: 12px;
		background: transparent url('../img/Big-Arrow-Left.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		right: 12px;
		bottom: 8px;
		transform: rotate(-90deg);
		cursor: pointer;
	}
	.mobile-quantity_input {
		display: none;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		background: #fff;
	    border: 1px solid #e9e9e9;
	    border-top: 0;
	    z-index: 500;
	    input {
	    	display: block;
	    	box-sizing: border-box;
	    	width: 100%;
	    	padding: 8px;
	    }
	}
}

.add-to-cart {
	display: block;
	width: 142px;
	border: 1px solid #E9E9E9;
  	border-radius: 2px;
  	padding: 10px;
  	text-align: center;
  	font-size: 14px;
  	font-weight: 500;
  	color: #000;
  	line-height: 18px;
  	text-indent: 30px;
  	position: relative;
  	&:before {
  		display: block;
  		content:'';
  		width: 20px;
  		height: 20px;
  		background: transparent url('../img/Cart.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		left: 15px;
  	}
  	&:hover {
  		color: #000;
  	}
  	&.loading {
  		&:before {
  			display: block;
  			content:'';
  			width: 100%;
  			height: 100%;
  			background: rgba(255, 255, 255, .5) url('../img/loading.gif') center no-repeat;
  			background-size: 24px;
  			position: absolute;
  			top: 0;
  			left: 0;
  		}
  	}
}

.add-to-wishlist_button {
	display: block;
	width: 160px;
	border: 1px solid #E9E9E9;
  	border-radius: 2px;
  	padding: 10px;
  	text-align: center;
  	font-size: 14px;
  	font-weight: 500;
  	color: #000;
  	line-height: 18px;
  	text-indent: 30px;
  	position: relative;
  	@extend .transition;
  	&:before {
  		display: block;
  		content:'';
  		width: 20px;
  		height: 20px;
  		background: transparent url('../img/Heart.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		left: 15px;
		@extend .transition;
  	}
  	&:hover {
  		color: #000;
  		&:before {
  			background: transparent url('../img/Heart-Filled.svg') center no-repeat;
			background-size: contain;
	}
  	}
}

@media screen and(min-width: 500px) {
	.arrivals-owl {
		padding-left: 59px;
	}
}

@media screen and(min-width:1000px) {
	.arrivals-owl {
		padding-left: 42px;
	}
}

@media screen and(min-width:1200px) {
	.arrivals-owl {
		padding-left: 82px;
	}
}

@media screen and(min-width:1300px) {
	.arrivals-owl {
		padding-left: 75px;
	}
}

@media screen and(min-width:1400px) {
	.arrivals-owl {
		padding-left: 112px;
	}
}

@media screen and(min-width:1500px) {
	.arrivals-owl {
		padding-left: 152px;
	}
}

@media screen and(min-width:1600px) {
	.arrivals-owl {
		padding-left: 192px;
	}
}

@media screen and(min-width:1680px) {
	.arrivals-owl {
		padding-left: 232px;
	}
}

@media screen and(min-width:1900px) {
	.arrivals-owl {
		padding-left: 352px;
	}
}

@media screen and(min-width:2500px) {
	.arrivals-owl {
		padding-left: 672px;
	}
}


@media screen and(max-width:1400px) {
	.product-item {
		.slider-thumb {
			height: 320px;
		}
		.description {
			height: calc(100% - 335px);
		}
	}
}

@media screen and(max-width: 990px) {
	.arrival-section {
		padding-bottom: 60px;
		.arrivals-titles {
			transform: translateY(60px);
		}
	}
	.arrivals-owl {
		padding-top: 100px;
		.owl-nav {
			top: 20px;
			right: 45px;
		}
	}
}

@media screen and (max-width: 765px) {
	.arrivals-owl {
		padding-left: 20px;
		.owl-nav {
			display: none !important;
		}
	}
}

@media screen and (max-width: 500px) {
	.arrival-section {
		padding-bottom: 55px;
		.section-title {
			margin-bottom: 10px;
		}
	}
	.arrivals-owl {
		padding-top: 85px;
		padding-right: 20px;
		padding-left: 20px;
		&.active-quantity {
			.owl-stage-outer {
				overflow: visible !important;
			}
		}
		.owl-dots {
			display: flex;
			position: relative;
			z-index: -1;
		}
	}
	.add-to-wishlist {
		width: 28px;
		height: 28px;
	}
	.product-item {
		.add-to-wishlist {
			width: 28px;
			height: 28px;
			top: 12px;
			right: 12px;
		}
		.product-item_label {
			top: 12px;
			left: 12px;
		    padding: 8px 10px 6px;
		}
		.slider-thumb {
			height: 215px;
			padding: 12px;
		}
		.description {
			height: calc(100% - 230px);
		}
		.qty-wrap {
		    flex-direction: column;
		    .quantity-choser {
		    	width: 100%;
		    	margin-bottom: 15px;
		    }
		    .add-to-cart {
		    	width: 100%;
		    }
		}
	}
	.price-wrap {
		margin-bottom: 8px;
		.left {
			flex-direction: column;
			align-items: flex-start;
		}
		.current-price {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 4px;
		}
	}
}

@media screen and (max-width: 350px) {
	.product-item {
		.slider-thumb {
			height: 175px;
		}
		.description {
			height: calc(100% - 190px);
		}
	}
	.add-to-cart {
		font-size: 13px;
	}
}